other
trans/清单.xlsx
trans/zero/battle/cn/converted
trans/zero/battle/us
trans/zero/scena/cn_1校对原版/converted
trans/zero/scena/cn_2校对更多头像/converted
trans/zero/scena/jp
trans/zero/scena/jp_更多头像
trans/zero/scena/us
trans/zero/text/cn/converted
trans/zero/text/jp
trans/zero/text/us
trans/ao/battle/cn/converted
trans/ao/battle/us
trans/ao/scena/cn_1校对原版/converted
trans/ao/scena/cn_2校对更多头像/converted
trans/ao/scena/jp
trans/ao/scena/jp_更多头像
trans/ao/scena/us
trans/ao/text/cn/converted
trans/ao/text/jp
trans/ao/text/us
trans/ao/story/cn/converted
trans/ao/story/us
tools/calmareHook/calmareHook
tools/calmareHook/x64
tools/calmareHook/.vs
tools/checkModScena/ConsoleApp1/bin
tools/checkModScena/ConsoleApp1/obj
tools/checkModScena/.vs
tools/hijack_ao/.vs
tools/hijack_ao/x64
tools/hijack_zero/.vs
tools/hijack_zero/x64
tools/ITFCreator/.idea
tools/ITFCreator/.vs
tools/ITFCreator/ITFCreator/bin
tools/ITFCreator/ITFCreator/obj
tools/zCodec/.idea
tools/zCodec/.vs
tools/zCodec/zCodec/bin
tools/zCodec/zCodec/obj
tools/ED7FontCreator/.idea
tools/ED7FontCreator/.vs
tools/ED7FontCreator/ED7FontCreator/bin
tools/ED7FontCreator/ED7FontCreator/obj
trans/zero/readme.html
trans/ao/readme.html