tools/ITFCreator/ITFCreator/bin
tools/ITFCreator/ITFCreator/obj
tools/ITFCreator/.idea
tools/zCodec/zCodec/bin
tools/zCodec/zCodec/obj
tools/zCodec/.idea
tools/Dll1/Dll1/x64
tools/Dll1/x64
tools/Dll1/.vs
tools/cn
tools/hijack_dll/x64
tools/hijack_dll/.vs